*{
    margin: 0px;
    padding:0px;
    
}
header {
    text-align: center;
    background-color: #8B1874;
    color:#FC4F00;
    background-size:auto;
    font-size: 50px;
    font-family: 'Fasthand', cursive;
    
}
.programming{
    background-color: #8B1874;
}
.headerandmain{
    display: flex;


}
